/* ### 
Headings, Call-to-actions, Header Navigation

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700
font-family: 'Raleway', sans-serif;

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 700 
font-family: 'Open Sans', sans-serif;
*/

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
/* font */
:root {
  /* - Dark Blue (main background) */
  --main-bg-color: #1c2431;
  /* - Dark Blue (intro and email sign up background):  */
  --intro-bg-color: hsl(218, 28%, 13%);
  /* - Dark Blue (footer background) */
  --footer-bg-color: hsl(216, 53%, 9%);
  --card-color: #21293c;
  --font-color: white;
  --link-color: #60e2d8;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-bg-color);
  height: 3000px;
  color: var(--font-color);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 4rem;
  padding-left: 4rem;
  max-width: 1440px;
}
.menu-wrap {
  display: flex;
  align-items: center;
}

.menu-wrap .logo {
  display: block;
  margin: 2em 0em 0em 0;
  max-width: 160px;
  background: url("images/logo.svg") no-repeat;
  background-size: contain;
  width: 180px;
  height: 55px;
}
.menu-wrap ul {
  margin-left: auto;
}

.menu-wrap ul li {
  display: inline-block;
}
.menu-wrap ul li a:hover {
  text-decoration: underline;
}
.menu-wrap ul li a {
  padding: 20px;
  color: var(--font-color);
  font-family: "Raleway", sans-serif;
}

/* intro */
.intro {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 850px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("images/bg-curvy-desktop.svg");
  background-position: bottom;
}

.intro img {
  margin: 0 auto;
  max-width: 500px;
  display: block;
}

.intro h1 {
  color: var(--font-color);
  font-weight: 800;
  font-size: 28px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  line-height: 1.4em;
}

.tittle {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

.subt {
  max-width: 450px;
  margin: 0 auto;
}
.subt {
  text-align: center;
  color: var(--font-color);
  opacity: 90%;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.btn-1 {
  display: block;
  padding: 15px 80px;
  border-radius: 40px;
  color: var(--font-color);
  border: none;
  margin: 20px auto;
  background: linear-gradient(
    270.96deg,
    #4fc7d5 -21.9%,
    rgba(63, 173, 206, 0) 248.45%
  );
  cursor: pointer;
  transition: 0.2s ease-in;
}

button:hover {
  background: linear-gradient(
    270.96deg,
    #4fc7d5 21.9%,
    rgba(163, 173, 206, 0) 248.45%
  );
}

.page1 {
  background-color: var(--intro-bg-color);
  display: block;
  width: 100%;
}
.page1 p {
  color: var(--font-color);
  text-align: center;
  font-size: 90px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--intro-bg-color);
}

.wrap ul {
  flex: 1 1 50%;
  max-width: 50%;
  text-align: center;
  margin-bottom: 90px;
  padding: 1em;
}

.wrap ul img {
  margin: 0 auto;
}
.wrap ul li {
  color: var(--font-color);
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
.wrap ul li:nth-child(3) {
  max-width: 390px;
  margin: 10px auto;
  font-weight: normal;
  opacity: 75%;
}
/* pagina productive */

.page2 {
  background-color: var(--intro-bg-color);
  width: 100%;
  padding: 50px 0;
}
.wrap-page2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  max-width: 500px;
  margin-left: 80px;
}
.page2 p {
  color: var(--font-color);
  margin-bottom: 14px;
  opacity: 75%;
}

.page2 h2 {
  max-width: 300px;
  margin-bottom: 14px;
  color: var(--font-color);
  font-size: 28px;
  font-family: "Raleway", sans-serif;
}
.page2 a {
  color: var(--link-color);
  border-bottom: 1px var(--link-color) solid;
  padding-bottom: 5px;
}
.page2 a::after {
  content: "";
  display: inline-block;
  background: url("images/icon-arrow.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  vertical-align: middle;
}

/* cards */

.cards {
  padding-top: 60px;
  background: var(--intro-bg-color);
  padding-bottom: 300px;
}
.card {
  margin-top: 20px;
  max-width: calc(33.333% - 20px);
  letter-spacing: 0.1px;
  background: var(--card-color);
  border-radius: 8px;
  padding: 35px;
  min-width: 320px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1));
}
.card:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}
.card:nth-child(1) {
  position: relative;
  z-index: 90;
}
.card:nth-child(1)::before {
  content: "";
  display: inline-block;
  background-size: cover;
  background: url("images/bg-quotes.png") no-repeat;
  height: 90px;
  width: 100%;
  position: absolute;
  top: -32px;
  left: -20px;
  z-index: -99;
}
.cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info {
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}
.infopersona {
  margin-left: 15px;
}

.infopersona p {
  font-size: 10px;
  opacity: 75%;
}

.infopersona h5 {
  font-size: 12px;
}

.info img {
  width: 30px;
  border-radius: 50%;
}
.personatext {
  margin-bottom: 20px;
  opacity: 90%;
}

/* card inscreva-se */
.segura {
  position: relative;
  margin: 0 1.5em;
}

.inscreva-se {
  margin: 0 auto;
  max-width: 900px;
  background: var(--main-bg-color);
  position: absolute;
  top: -140px;
  padding: 60px 80px;
  filter: drop-shadow(1px 1px 2px rgba(71, 0, 0, 0.3));
  border-radius: 6px;
  z-index: 10;
  left: 0;
  right: 0;
}

.inscreva-se h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
.inscreva-se p {
  opacity: 85%;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.4em;
}

.envie {
  display: flex;
}
.envie button {
  display: block;
  padding: 15px 40px;
  border-radius: 40px;
  color: var(--font-color);
  border: none;
  margin-left: 20px;
  background: linear-gradient(
    270.96deg,
    #4fc7d5 -21.9%,
    rgba(63, 173, 206, 0) 248.45%
  );
  cursor: pointer;
  transition: 0.2s ease-in;
}
.envie button:hover {
  background: linear-gradient(
    270.96deg,
    #4fc7d5 21.9%,
    rgba(163, 173, 206, 0) 248.45%
  );
}
.envie input {
  flex: 1;
  border-radius: 40px;
  border: none;
  padding: 0 30px;
}
.envie input::placeholder {
  margin: 0 10px;
}

footer {
  background: var(--footer-bg-color);
  padding-top: 220px;
}
footer ul li {
  cursor: pointer;
}
footer img {
  margin-bottom: 30px;
}
.footer-wrap {
  display: flex;
  justify-content: space-around;
}
.footer-wrap ul {
  flex: 1;
  opacity: 85%;
  margin-bottom: 30px;
}
.footer-wrap ul:nth-child(1) {
  flex: 2;
  margin-left: 40px;
  position: relative;
  min-width: 250px;
}
.local {
  margin-right: 60px;
}

.local:before {
  content: "";
  background: url("images/icon-location.svg");
  width: 13px;
  height: 18px;
  display: inline-block;
  position: absolute;
  left: -35px;
  top: 5px;
}
.fone,
.email {
  position: relative;
  margin-left: 40px;
  margin-bottom: 20px;
  margin: 0 40px 20px 0;
  cursor: pointer;
}
.fone:hover,
.email:hover {
  text-decoration: underline;
}

.fone:before {
  content: "";
  background: url("images/icon-phone.svg") no-repeat;
  width: 20px;
  height: 18px;
  display: inline-block;
  position: absolute;
  left: -40px;
  top: 5px;
}

.email:before {
  content: "";
  background: url("images/icon-email.svg") no-repeat;
  width: 20px;
  height: 18px;
  display: inline-block;
  position: absolute;
  left: -40px;
  top: 4px;
}

.tagarela {
  min-width: 120px;
  margin-left: 0px;
}
.tagarela li,
.tagarela2 li {
  margin-bottom: 20px;
}
.redes {
  margin-left: 20px;
  min-width: 60px;
}
.redes li {
  margin: 0;
  max-width: 35px;
}
.redes li img {
  flex: 1 1 35px;
}
.lua {
  display: block;
  background: url("images/sun.svg") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

/* media */
@media (max-width: 960px) {
  .intro {
    height: 710px;
  }
  .page1 {
    padding-top: 100px;
  }
  .content {
    max-width: 400px;
    margin-left: 40px;
  }
  .page2 p {
    font-size: 14px;
  }
  .page2 h2 {
    font-size: 24px;
  }
  .page2 a {
    font-size: 14px;
  }
  .page2 img {
    min-width: 220px;
  }
  footer ul li {
    font-size: 12px;
  }
  .redes {
    display: flex;
    justify-content: center;
  }
  .redes li {
    margin-right: 20px;
  }

  .redes img {
    margin-left: 20px;
  }
  .footer-wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .footer-wrap ul:nth-child(1) {
    margin-left: 40px;
    position: relative;
    max-width: 300px;
  }
  .contato {
    margin-left: 40px;
  }
}

@media (max-width: 620px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .intro {
    height: 550px;
    opacity: 100%;
    background-image: url("images/bg-curvy-desktop.svg");
  }
  .intro h1 {
    font-size: 26px;
  }
  .intro p {
    margin: 0 10px;
  }
  .tittle {
    max-width: 360px;
  }
  .intro img {
    max-width: 380px;
    padding-bottom: 20px;
  }
  .menu-wrap .logo {
    padding: 2em 0em 2em 0em;
    max-width: 100px;
  }
  .menu-wrap ul li {
    font-size: 14px;
    margin-left: 10px;
  }
  .menu-wrap ul li a {
    padding: 5px;
    color: #d8dcde;
  }
  .page1 {
    padding-top: 200px;
    height: 1400px;
  }
  .wrap {
    flex-direction: column;
  }
  .wrap ul {
    flex: 1 1 auto;
    min-width: 300px;
    text-align: center;
    margin-bottom: 90px;
    padding: 0px;
  }
  .wrap ul li:nth-child(3) {
    max-width: 300px;
    margin: 10px auto;
  }
  .content {
    margin-left: 10px;
  }

  .page2 {
    padding-top: 0px;
  }
  .wrap-page2 {
    flex-direction: column;
  }
  .page2 p {
    font-size: 14px;
  }
  .page2 h2 {
    font-size: 18px;
  }
  .page2 a {
    font-size: 14px;
  }
  .page2 img {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .personatext {
    font-size: 14px;
    letter-spacing: 0;
  }
  .card {
    padding: 25px;
  }
  .card:nth-child(2) {
    margin-left: 0px;
    margin-right: 0px;
  }
  .card {
    min-width: 280px;
  }
  .cards {
    padding-bottom: 250px;
  }

  .envie {
    padding-bottom: 20px;
    flex-direction: column;
    max-width: 360px;
    justify-content: center;
    margin: 0 auto;
  }
  .inscreva-se {
    top: -140px;
    padding: 30px 40px;
    filter: drop-shadow(1px 1px 2px rgba(71, 0, 0, 0.3));
    border-radius: 6px;
    z-index: 10;
    left: 0;
    right: 0;
  }
  .envie button {
    margin-left: 0px;
  }
  .envie input {
    flex: 1;
    border-radius: 40px;
    border: none;
    padding: 15px 30px;
    margin-bottom: 20px;
  }
  footer {
    padding-top: 320px;
  }
  .footer-wrap {
    flex-direction: column;
  }
  .contato {
    margin-left: 40px;
  }
  .tagarela,
  .tagarela2 {
    margin-left: 0px;
  }
  .redes {
    margin-left: 0px;
  }
  .logo {
    padding: 4em 10px 0 0;
  }
}

@media (max-width: 406px) {
  .lua {
    position: absolute;
    top: 70px;
    right: 8px;
  }
  .menu-wrap {
    padding: -40px 0 0px 0;
    position: relative;
  }
}

@media (max-width: 370px) {
  .intro {
    height: 400px;
    opacity: 100%;
    background-image: url("images/bg-curvy-desktop.svg");
  }
  .intro h1 {
    font-size: 24px;
    margin: 0 10px;
  }
  .intro p {
    font-size: 14px;
    margin: 0 10px;
  }
  .page1 {
    padding-top: 200px;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .menu-wrap ul li a {
    font-size: 12px;
    margin-left: 0px;
  }
  .intro img {
    max-width: 250px;
    padding-bottom: 20px;
  }
  .menu-wrap .logo {
    padding: 2em 0em 2em 0em;
    max-width: 80px;
  }
  .wrap ul {
    min-width: 260px;
    text-align: center;
    margin-bottom: 60px;
    padding: 0px;
  }
  .wrap ul li {
    font-size: 14px;
  }
  .page1 {
    padding-top: 200px;
    height: 1300px;
  }
  .card {
    padding: 15px;
  }
  .inscreva-se h2 {
    font-size: 22px;
  }
  .inscreva-se p {
    font-size: 14px;
  }
  .inscreva-se {
    padding: 30px 15px;
    filter: drop-shadow(1px 1px 2px rgba(71, 0, 0, 0.3));
  }
  .card:nth-child(1)::before {
    content: "";
    display: inline-block;
    background-size: cover;
    background: url("images/bg-quotes.png") no-repeat;
    height: 30px;
    width: 40%;
    position: absolute;
    top: -32px;
    left: 5px;
    z-index: -99;
  }
}
